.proyecto{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url('assets/google.gif');
}

#proyecto-2{
    background-image: url('assets/arrested.avif');
}

#proyecto-3{
    background-image: url('assets/paisaje.jpg');
}


.text-shadow-1 { 
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1); 
}

.text-shadow-2 { 
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 { 
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 10);
}

.url{
    text-transform: none;
    line-height: 1.3;
}

#presentacion{
    background-image: url('assets/fondo.gif');
    background-size: contain;
    background-position: center;
}